@board-background: beige;
@blank-spot: yellow;
@brick: red;
@apple: green;
@parachute: blue;
@bonus-chute: purple;

body {
  font-size: 40px;
  font-family: courier;
}

.board {
  width: 118px;
  background-color: @board-background;
  border: dashed;
  border-width: 4px;
  padding: 8px;
  margin-left:40%;
  margin-right:60%;
}

.status {
  position: absolute;
  text-align: right;
  right:0;
  top:0;
}

.vitals {
  position: absolute;
  left:5px;
  top:0;
}

.instructions {
  font-size: 20px;
}

.spot {
  padding: 0px;
  margin: 0px;
  width: 50px;
  height: 50px;
  background-color: @blank-spot;
}

.brick {
  background-color: @brick;
}

.apple {
  background-color: @apple;
}

.parachute {
  background-color: @parachute;
}

.bonusParachute {
  background-color: @bonus-chute;
  color: white;
}
